body {
    font-family: Arial, sans-serif;
    background-color: #8687ae;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2 {
    color: #333;
    text-align: center;
}
form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
label {
    font-size: 1rem;
    color: #555;        
    /* display: block; */
    margin-bottom: 2px;
}
/* input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"], */
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
}
input{
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
}